@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';

body {
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
  }
}

.page {
  height: 100vh;
}

.safe-area {
  padding-top: env(safe-area-inset-top);
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.shadow {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -2px rgb(0 0 0 / 5%);
}

.min-h-screen:has(footer.MuiAppBar-positionFixed) {
  height: unset;
  flex: 1;
  padding-bottom: calc(60px + env(safe-area-inset-bottom)) !important;
}
.min-h-screen:has(+ footer > .MuiBottomNavigation-root) {
  height: unset;
  flex: 1;
  padding-bottom: calc(
    60px + max(env(safe-area-inset-bottom), 20px) +
      max(env(safe-area-inset-top), 20px)
  ) !important;
}
